p,td {
	/* color:blue; */
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	
}
*{
	background-color: aqua;
	color:crimson;
}
h2#red{
	font-size: 20px;;
	color:green;
	background-color: darkgray;
}

p#para{
	text-transform: uppercase;
}